@model MCE_ASP_NET_MVC.ViewModels.ChampionshipViewModel

<!DOCTYPE html>
<html>
<body>
    <p> Championship link: @Model.ChampionshipId</p>

    @if (Model.CurrentUserChampionshipRight == MCE_ASP_NET_MVC.models.ChampionshipMember.rightType.FullAccess)
    {
        <form asp-controller="Championships" asp-action="ShowCreateGrandPrixForm" method="post">
            <input type="hidden" name="championshipId" value="@Model.ChampionshipId" />
            <input type="submit" value="Add Grand prix">
        </form>
    }

    <table>
        <tr>
            <td>
                <p>Grand prixs:</p>
                @if (Model.GrandPrixes != null && Model.GrandPrixes.Count() > 0)
                {
                    @foreach (var item in Model.GrandPrixes)
                    {
                        <form asp-controller="Championships" asp-action="ShowGrandPrixResult" method="get">
                            <input type="hidden" name="grandPrixId" value="@item.Id" />
                            <input type="hidden" name="championshipId" value="@Model.ChampionshipId" />
                            <input type="submit" value="@item.Name">
                        </form>
                        @if (Model.CurrentUserChampionshipRight == MCE_ASP_NET_MVC.models.ChampionshipMember.rightType.FullAccess)
                        {
                            <form asp-controller="Championships" asp-action="RemoveGrandPrix" method="post">
                                <input type="hidden" name="championshipId" value="@Model.ChampionshipId" />
                                <input type="hidden" name="grandPrixId" value="@item.Id" />
                                <input type="submit" value="Remove">
                            </form>
                        }
                    }
                }
            </td>
            <td>
                <p>Members:</p>
                @if (Model.ChampionshipMembers != null && Model.ChampionshipMembers.Count() > 0)
                {
                    @foreach (var item in Model.ChampionshipMembers)
                    {
                        <p>@item.userName  @item.memberId</p>
                        @if (Model.CurrentUserChampionshipRight == MCE_ASP_NET_MVC.models.ChampionshipMember.rightType.FullAccess)
                        {
                            <form asp-controller="Championships" asp-action="RemoveMember" method="post">
                                <input type="hidden" name="championshipId" value="@Model.ChampionshipId" />
                                <input type="hidden" name="memberId" value="@item.memberId" />
                                <input type="submit" value="Remove">
                            </form>
                        }
                    }
                }
            </td>
        </tr>
    </table>

    <table>
        @for (int i = 0; i < Model.IndividualChampionshipStandings.GetLength(0); i++)
        {
            <tr>
                @for (int j = 0; j < Model.IndividualChampionshipStandings.GetLength(1); j++)
                {
                    <td>
                        @Model.IndividualChampionshipStandings[i, j]
                    </td>
                }
            </tr>
        }
    </table>
</body>
</html>