@model MCE_ASP_NET_MVC.ViewModels.GrandPrixResultViewModel

<!DOCTYPE html>
<html>
<body>
    <p>Grand prix result</p>

    <table>
        <tr>
            <td>
                <p>Racer</p>
            </td>
            <td>
                <p>Place</p>
            </td>
            <td>
                <p>Best lap</p>
            </td>
            <td>
                <p>Race status</p>
            </td>
        </tr>
        @if (Model.grandPrixResults != null && Model.grandPrixResults.Count() > 0 && Model.grandPrixMemberName != null && Model.grandPrixMemberName.Count() > 0)
        {
            <form asp-controller="Championships" asp-action="GrandPrixResultsUpdate" method="post">
                @for (int i = 0; i < Model.grandPrixResults.Count(); i++)
                {
                    <input type="hidden" name="grandPrixResults[@i].ChampionshipMemberId" value="@Model.grandPrixResults[i].ChampionshipMemberId">
                    <input type="hidden" name="grandPrixResults[@i].GrandPrixId" value="@Model.grandPrixResults[i].GrandPrixId">
                    
                    <tr>
                        <td>
                            <p>@Model.grandPrixMemberName.Where(u => u.Key == Model.grandPrixResults[i].ChampionshipMemberId).FirstOrDefault().Value</p>
                            <p>@Model.grandPrixResults[i].ChampionshipMemberId</p>
                        </td>
                        <td>
                            <input type ="text" name="grandPrixResults[@i].Place" value="@Model.grandPrixResults[i].Place">
                        </td>
                        <td>
                            <input type="radio" name="bestLapIndex" value="@i" @(Model.grandPrixResults[i].BestLap ? "checked" : "")>
                            <p>@Model.grandPrixResults[i].BestLap</p>
                        </td>
                        <td>
                            <select name="grandPrixResults[@i].RaceStatus">
                                <option value="@(MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.DidNotStart)" selected="@(Model.grandPrixResults[i].RaceStatus == MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.DidNotStart ? "selected" : null)">Did not start</option>
                                <option value="@(MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.Finished)" selected="@(Model.grandPrixResults[i].RaceStatus == MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.Finished ? "selected" : null)">Finished</option>
                                <option value="@(MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.NotFinished)" selected="@(Model.grandPrixResults[i].RaceStatus == MCE_ASP_NET_MVC.models.GrandPrixResult.raceStatus.NotFinished ? "selected" : null)">Not finished</option>
                            </select>
                            <p>@Model.grandPrixResults[i].RaceStatus</p>
                        </td>
                    </tr>
                }
                <input type="hidden" name="grandPrixId" value="@Model.grandPrixId">
                <input type="hidden" name="championshipId" value="@Model.championshipId">
                <input type="submit" value="Save changes">
            </form>
        }
    </table>
</body>
</html>